# Created by .ignore support plugin (hsz.mobi)
*.iml
isuwang-soa.iml
**/target/
/.idea/
/datas/
/isuwang-soa-code-generator/target/
/isuwang-soa-container/target/
/isuwang-soa-container/isuwang-soa-container.iml
/isuwang-soa-core/target/
/isuwang-soa-core/isuwang-soa-core.iml
/isuwang-soa-bootstrap/target/
/isuwang-soa-bootstrap/isuwang-soa-bootstrap.iml
/isuwang-soa-maven-plugin/target/
/isuwang-soa-maven-plugin/isuwangsoa-maven-plugin.iml
/isuwang-soa-registry/isuwang-soa-registry-api/target/
/isuwang-soa-registry/isuwang-soa-registry-zookeeper/target/
/isuwang-soa-registry/isuwang-soa-registry.iml
/isuwang-soa-registry/isuwang-soa-registry-api/isuwang-soa-registry-api.iml
/isuwang-soa-registry/isuwang-soa-registry-zookeeper/isuwang-soa-registry-zookeeper.iml
/isuwang-soa-remoting/isuwang-soa-remoting-api/target/
/isuwang-soa-remoting/isuwang-soa-remoting-netty/target/
/isuwang-soa-remoting/isuwang-soa-remoting-socket/target/
/isuwang-soa-remoting/isuwang-soa-remoting.iml
/isuwang-soa-remoting/isuwang-soa-remoting-api/isuwang-soa-remoting-api.iml
/isuwang-soa-remoting/isuwang-soa-remoting-netty/isuwang-soa-remoting-netty.iml
/isuwang-soa-remoting/isuwang-soa-remoting-socket/isuwang-soa-remoting-socket.iml
/isuwang-soa-spring/target/
/isuwang-soa-spring/isuwang-soa-spring.iml
/isuwang-soa-zookeeper/target/
/isuwang-soa-zookeeper/isuwang-soa-zookeeper.iml
